html {
  overflow-x: hidden; }

body {
  margin: 0;
  background: #ffb347;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc33, #ffb347);
  /* 
    }

    .bg2 {
      // background-image: url('../../assets/bg2.jpg');
     // background-size: cover;
     // height: 100%;
     // background-repeat: repeat;
     background: #ffb347;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffcc33, #ffb347);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.bg1 {
  background-image: url("../../assets/simon-matzinger-320332.jpg");
  background-size: cover;
  height: 100vh; }

.wrapper {
  max-width: 800px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive; }

h1 {
  font-size: 80px;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #07070A;
  position: relative; }

span {
  color: #396afc;
  text-transform: lowercase; }

h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 4px;
  background: black;
  left: 50%;
  transform: translateX(-50%); }

header {
  margin-bottom: 50px; }

p {
  font-family: 'Prociono', serif;
  text-align: center; }

input.eventInput {
  width: 100%;
  border: 2px solid #2dabf9;
  background: white;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px; }

label {
  float: left;
  padding-bottom: 10px;
  padding-top: 10px;
  padding: 10px;
  font-family: 'Prociono', serif;
  color: #07070A;
  font-size: 20px; }

.createEvent {
  margin: 30px; }

.showForm {
  margin-top: 50px; }

.tab {
  display: flex;
  justify-content: flex-end;
  overflow-wrap: break-word; }

h2 {
  background: #396afc;
  border-top-right-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -35px;
  color: white;
  max-width: 200px;
  padding-top: 5px; }

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0; }

.addItem form {
  margin-left: 40px; }

input.listInput {
  border-left: 1px solid #fff;
  border-right: none;
  border-top: none;
  border-bottom: none;
  height: 50px;
  width: calc(100% - 4px);
  border-top-left-radius: 5px; }

.card {
  width: calc(33% - 20px);
  list-style-type: none;
  background-color: #ededed;
  color: #000;
  margin-bottom: 50px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background: white;
  position: relative; }

.listItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  border-top: 1px solid #F1F1F1; }

.item:last-child {
  border-bottom: 0; }

input[type="checkbox"] {
  margin: 10px; }

input:checked + .item {
  background: #F9F9F9;
  text-decoration: line-through; }

.user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px; }

.user-profile img {
  border-radius: 50%;
  max-width: 100%; }

.item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #F1F1F1;
  margin: 0;
  padding: 10px;
  transition: background 0.2s;
  flex: 1;
  font-family: 'helvetica neue';
  font-size: 14px;
  font-weight: 200;
  border-left: 1px solid #D1E2FF;
  overflow-wrap: break-word; }

.item:last-child {
  border-bottom: 0; }

.userPost {
  font-size: 10px;
  padding: 0;
  border: none; }

.listItem {
  display: flex; }

.removeButton {
  margin-top: 10px;
  float: right;
  right: 0; }

button.logoutButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 80px;
  margin-top: 20px; }

nav {
  display: flex;
  justify-content: flex-end; }

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .card {
    width: calc(50% - 50px); } }

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .card {
    width: 100%; }
  .user-profile {
    display: none; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .headerContainer {
    max-width: 100%;
    padding: 0;
    margin: 0; }
  input.eventInput {
    margin-bottom: 10px; }
  .user-profile {
    display: none; } }
